:root {
    --blue-one: #3040E5;
    --gray-one: #F2F2F7;
    --hr-color: #6F7279;
    /* color  */
    --main-black: #282C34;
    --black-one: #050519;
    --bg-white: #F4F6FB;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body {
    overflow-x: hidden;
    background-color: var(--bg-white);
    color: black;
    transition: all 0.5s linear;

}

body.dark {
    background-color: var(--main-black);
    color: white;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: white;
}

ul li {
    list-style: none;
}



/* first page  */
/* header */

.first-page {
    padding-bottom: 24px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 70px;
    padding: 16px 25px;
}

.left-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.left-logo h6 {
    font-size: 22px;
    font-weight: 500;
    display: none;
}

.moon-img,
.sun-img {
    width: 24px;
}


.logo-biscuit {
    width: 37px;
}

.navbar-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-right: 0px;
}

.navbar-flex li,
.navbar-flex li button {
    cursor: pointer;
}

.theme-btn {
    background: white;
    border: none;
}

.menu {
    display: block;
    background: var(--gray-one);
    border: none;
    padding: 3px 16px;
    font-size: 14px;
    border-radius: 29px;
}

.hide-nav {
    display: none;
}

/* profile section  */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 0px 100px;
}

.pp-image {
    width: 82px;
}

.profile-section h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 146%;
    text-align: center;

}

.profile-section h1 {
    font-size: 24px;
    text-align: center;
    line-height: 142%;
    font-weight: 700;
    width: 326px;
}

.profile-para {
    text-align: center;
    width: 327px;
    line-height: 192%;
    font-size: 14px;
    padding: 0px;
}

.blue-indonesia {
    color: var(--blue-one);
    text-decoration: underline;
    cursor: pointer;
    padding-right: 3px;
}

.flex-buttons {
    display: grid;
    align-items: center;
    gap: 29px;
    padding-top: 32px;
    padding-bottom: 120px;
}

.flex-buttons button {
    cursor: pointer;
}

.blue-btn,
.blue-btn-mobile {
    background: var(--blue-one);
    color: white;
    /* width: 167px; */
    padding: 10px 40px;
    border-radius: 43px;
    font-size: 14px;
    text-transform: uppercase;
}

/* blue button hide and show  */
.btn-desktop {
    display: none;
}

.blue-btn-mobile {
    display: inline;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
}


.download-img,
.download-white {
    width: 24px;
}

.social-img,
.social-img-dark {
    width: 213px;
    cursor: pointer;
}


/* second page  */
.section-page {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding: 0px 0px;

}

.left-article {
    padding: 50px 24px 126px 24px;
}

.first-gray-btn {
    position: absolute;
    top: 16px;
    left: 16px;

    z-index: 20;
    display: flex;
    align-items: center;
    gap: 7px;
    background: var(--gray-one);
    width: 138px;
    padding: 8px 10px 8px 12px;
    border-radius: 32px;
    font-size: 14px;
}

.first-gray-btn img {
    width: 20px;
}

.second-title {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 36px;
    font-weight: 700;
    padding-top: 13px;
    padding-bottom: 31px;
}

.second-title img {
    width: 68px;
}

.title-img2 img {
    width: 35px;
}



.title-description {
    width: 327px;
    font-size: 14px;
    line-height: 192%;
}

.tools-img {
    text-align: center;
}

.tools-img {
    padding: 40px 0px;
}

.button-blue {
    text-align: center;
}


/* right side  */
.article-right-img img {
    width: 100%;
    height: 300px;
}

/* third page  */

.shadow-image {
    padding: 7px 9px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
}


.tools-second-img img {
    width: 145px;
}


/* fourth page  */
.medica-img img {
    width: 41px;
    height: 13px;
    margin-bottom: 5px;
}

/* fifth page  */
.fifth-page {
    padding: 35px 24px 27px 23px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.gridTools {
    display: grid;
    column-gap: 62px;
    row-gap: 26px;
}

.title-application {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 62px;
}

.tool1-figma {
    width: 340px;
    position: relative;
}

.tool1-figma img {
    width: 80px;
    margin-left: -20px;
    padding: 0;
    z-index: 30;
}

.tool1-figma h5 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.tool1-figma p {
    font-size: 16px;
    line-height: 190%;
}

.hr-for-mobile {
    display: block;
    background: var(--hr-color);
    width: 85%;
}

.hr-for-grid2 {
    background: var(--hr-color);
    width: 85%;
    margin-bottom: 26px;

}

.hr-for-desktop {
    display: none;
    background: var(--hr-color);
    width: 100%;
    margin: 27px 0px;
}

.gitlab {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.github {
    margin-left: 25px;
}

.button-app-tool {
    background: var(--blue-one);
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-top: 45px;
    border-radius: 43px;
    font-size: 15px;

}



/* footer  */
.footer {
    padding: 24px 25px;

}

.footer-flex {
    display: grid;
    row-gap: 16px;
    align-items: center;
}

.left-footer h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.left-footer p {
    font-size: 14px;
    padding-bottom: 20px;
    line-height: 190%;

}

.social-media-link {
    padding-top: 24px;
}

/* color theme   */

/* light mode  */

.first-page,
.left-article,
.fifth-page {
    background: white;
}

/* bg black  */
body.dark .first-page,
body.dark .left-article,
body.dark .fifth-page,
body.dark .theme-btn,
body.dark .download-btn {
    background: var(--black-one);
}

body.dark .blue-indonesia,
body.dark .download-btn,
body.dark .menu {
    color: white;
}

/* bg white  */
body.dark .shadow-image {
    background: white;
}

body.dark .first-gray-btn,
body.dark .menu {
    background: var(--main-black);
}


/* new add dark  */


.sun-img,
.download-white,
.social-img-dark {
    display: none;
}

body.dark .sun-img,
body.dark .download-white,
body.dark .social-img-dark {
    display: inline;
}

body.dark .moon-img,
body.dark .download-img,
body.dark .social-img {
    display: none;
}

/* media queries  */

@media (min-width:768px) {
    .first-page {
        padding-bottom: 158px;
    }

    /* header  */
    .header-flex {
        padding: 24px 146px;

    }

    .left-logo h6 {
        display: block;
    }

    .menu {
        display: none;
    }

    .hide-nav {
        display: block;
    }

    .moon-img,
    .sun-img {
        width: 37px;
    }

    .navbar-flex {
        margin-right: -55px;
        gap: 56px;
    }

    /* profile section  */

    .profile-section {
        padding: 0px 24px;
    }

    .pp-image {
        width: 64px;
    }

    .profile-section h5 {
        font-size: 24px;

    }

    .profile-section h1 {
        font-size: 60px;
        width: 867px;
    }

    .profile-para {
        width: 715px;
        padding: 10px 20px;
        font-size: 18px;
    }

    .flex-buttons {
        display: flex;
        align-items: center;
        gap: 29px;
        padding-bottom: 40px;
    }

    .blue-btn,
    .blue-btn-mobile {
        padding: 10px 40px;
    }

    .btn-desktop {
        display: block;
    }

    .blue-btn-mobile {
        display: none;
    }

    .download-btn {
        gap: 4px;
    }


    /* second page  */
    .section-page {
        padding: 81px 62px;
        display: flex;
        flex-direction: row;
    }

    .second-title img {
        width: 48px;
    }

    .title-img2 img {
        width: 25px;
    }

    .article-right-img img {
        width: 550px;
        object-fit: fill;
        height: 738px;
    }

    .left-article {
        padding: 185px 72px 148px 80px;
    }

    .button-blue {
        text-align: start;
    }

    .first-gray-btn {
        position: absolute;
        top: 220px;
        left: 142px;

    }

    .tools-img {
        text-align: start;
    }

    .title-description {
        font-size: 18px;
        width: 446px;

    }

    /* third page  */
    .shadow-image {
        padding: 3px 11px;
    }


    /* fifth page  */
    .fifth-page {
        padding: 49px 146px 45px 151px;

    }

    .gridTools {
        display: flex;
    }

    .title-application {
        font-size: 36px;
    }

    .hr-for-mobile {
        display: none;
    }

    .hr-for-grid2 {
        display: none;

    }

    .hr-for-desktop {
        display: block;
    }

    .button-app-tool {
        background: var(--gray-one);
        color: black;
    }


    /* footer  */
    .footer {
        padding: 39px 151px;

    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .left-footer h3 {
        font-size: 40px;
    }

    .left-footer p {
        font-size: 18px;
        padding-bottom: 0px;
    }

    /* color theme  */

}