:root {
    --blue-one: #3040E5;
    --gray-one: #F2F2F7;
    --hr-color: #6F7279;
    /* color  */
    --main-black: #282C34;
    --black-one: #050519;
    --bg-white: #F4F6FB;
    --light-blue: #050519;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body {
    overflow-x: hidden;
    background-color: var(--bg-white);
    color: black;
    transition: all 0.5s linear;

}

body.dark {
    background-color: var(--main-black);
    color: white;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: white;
}

ul li {
    list-style: none;
}



/* first page  */
/* header */

.first-page {
    position: relative;
    padding-bottom: 24px;

}

.first-page__headerDesign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 80%;
    margin: auto;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.header__logo h6 {
    font-size: 22px;
    font-weight: 500;
    display: none;
}

.themebtn--imgMoon,
.themebtn--imgSun {
    width: 24px;
}


.logo-biscuit {
    width: 37px;
}

.navbar__design {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-right: 0px;
}

.navbar__design li,
.navbar__design li button {
    cursor: pointer;
}

.theme-btn {
    background: white;
    border: none;
}

.menu {
    display: block;
    background: var(--gray-one);
    border: none;
    padding: 3px 16px;
    font-size: 14px;
    border-radius: 29px;
}

.navbar--liHide {
    display: none;
}

.navbar__responsive {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 70px;
    right: 30px;

}

.hide {
    display: flex;
}


.navbar--liShow {
    background: var(--gray-one);
    padding: 8px;
    border-radius: 10%;
    cursor: pointer;
}

.navbar--liShow:hover {
    opacity: 0.8;
}

/* profile section  */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-top: 70px;
}

.profile--image {
    width: 82px;
}

.profile-section h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 146%;
    text-align: center;

}

.profile-section h1 {
    font-size: 24px;
    text-align: center;
    line-height: 142%;
    font-weight: 700;
    width: 326px;
}

.profile--paragraph {
    text-align: center;
    width: 327px;
    line-height: 192%;
    font-size: 14px;
    padding: 0px;
}

.profile--spanblue {
    color: var(--blue-one);
    text-decoration: underline;
    cursor: pointer;
    padding-right: 3px;
}

.profile__buttons {
    display: grid;
    align-items: center;
    gap: 29px;
    padding-top: 32px;
    padding-bottom: 120px;
}

.profile__buttons button {
    cursor: pointer;
}

.section--blueButton,
.btn-mobile {
    background: var(--blue-one);
    color: white;
    padding: 10px 40px;
    border-radius: 43px;
    font-size: 14px;
    text-transform: uppercase;
}

/* blue button hide and show  */
.btn-desktop {
    display: none;
}

.btn-mobile {
    display: inline;
}

.blueButton--download {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
}


.download-img,
.download-white {
    width: 24px;
}

.social-img,
.social-img-dark {
    width: 213px;
    cursor: pointer;
}


/* second page  */
.section-page {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    gap: 24px;
}

.section__leftSide {
    padding-bottom: 126px;
    padding: 36px 0px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
    gap: 20px;

}


.section--grayButton {
    /* to go up in image  */
    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    align-items: center;
    gap: 7px;
    background: var(--gray-one);
    width: 138px;
    padding: 8px 10px 8px 12px;
    border-radius: 32px;
    font-size: 14px;

}

.section--grayButton img {
    width: 24px;
}

.section__secondTitle {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 36px;
    font-weight: 700;
}

.section__secondTitle img {
    width: 68px;
}

.secondTitle--imgs2 img {
    width: 35px;
}



.section__Description {
    /* width: 327px; */
    font-size: 14px;
    line-height: 192%;
}

.section__toolsImgs {
    text-align: center;
}


.section--blueBtn {
    text-align: center;
}


/* right side  */

.section__rightImg {
    width: 100%;
    flex-basis: 50%;
}

.section__rightImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
    overflow: hidden;

}

/* third page  */

.section--shadow {
    padding: 5px 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
}

.section--shadow img {

    margin-top: 10px;
}


.section--ToolsSImgs img {
    width: 145px;
}

.section--medicaImgs {
    padding: 5px 7px;
}

/* fourth page  */
.section--medicaImgs img {
    width: 41px;
    height: 13px;
    margin-bottom: 5px;
}

/* fifth page  */
.fifth-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;

}

.fifth__gridTools {
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    row-gap: 26px;
    align-items: center;
    justify-content: center;
}

.fifthPage--title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 62px;
}

.fifth--toolDesign {
    width: 340px;
    position: relative;
}

.fifth--toolDesign img {
    width: 80px;
    margin-left: -20px;
    padding: 0;
    z-index: 30;
}

.fifth--toolDesign h5 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.fifth--toolDesign p {
    font-size: 16px;
    line-height: 190%;
}

.fifth--hrMbl {
    display: block;
    background: var(--hr-color);
    width: 85%;
}

.fifth--hrGrid {
    background: var(--hr-color);
    width: 85%;
    margin-bottom: 26px;

}

.fifth--hrdesktop {
    display: none;
    background: var(--hr-color);
    width: 100%;
    margin: 27px 0px;
}

.gitlab {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.github {
    margin-left: 25px;
}

.fifth--buttonappTool {
    background: var(--blue-one);
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-top: 45px;
    border-radius: 43px;
    font-size: 15px;
    width: 95%;
    margin-left: 10px;

}



/* footer  */
.footer {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer__design {
    display: grid;
    row-gap: 16px;
    align-items: center;
    width: 80%;
    margin: auto;

}

.footer__leftSide h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer__leftSide p {
    font-size: 14px;
    padding-bottom: 20px;
    line-height: 190%;

}

.social-media-link {
    padding-top: 24px;
    width: 80%;
    margin: auto;
}

/* color theme   */

/* light mode  */

.first-page,
.section-page,
.fifth-page {
    background: white;
}

/* bg black  */
body.dark .first-page,
body.dark .section-page,
body.dark .fifth-page,
body.dark .theme-btn,
body.dark .blueButton--download {
    background: var(--black-one);
}

body.dark .profile--spanblue,
body.dark .blueButton--download,
body.dark .menu {
    color: white;
}

/* bg white  */
body.dark .section--shadow {
    background: white;
}

body.dark .section--grayButton,
body.dark .second-gray-btn,
body.dark .menu {
    background: var(--main-black);
}

body.dark .navbar__responsive {
    color: black;
}


body.dark .first-page__header {
    background: #000;
}

/* new add dark  */


.themebtn--imgSun,
.download-white,
.social-img-dark {
    display: none;
}

body.dark .themebtn--imgSun,
body.dark .download-white,
body.dark .social-img-dark {
    display: inline;
}

body.dark .themebtn--imgMoon,
body.dark .download-img,
body.dark .social-img {
    display: none;
}

/* media queries  */

@media (min-width:768px) {
    .first-page {
        padding-bottom: 158px;
    }

    /* header  */
    .first-page__headerDesign {
        padding-top: 26px;
        padding-bottom: 26px;

    }

    .header__logo h6 {
        display: block;
    }

    .menu {
        display: none;
    }

    .navbar--liHide {
        display: block;
    }

    .themebtn--imgMoon,
    .themebtn--imgSun {
        width: 37px;
    }

    .navbar__design {
        margin-right: -55px;
        gap: 56px;
    }

    .hide {
        display: none;
    }

    /* profile section  */


    .profile--image {
        width: 64px;
    }

    .profile-section h5 {
        font-size: 24px;

    }

    .profile-section h1 {
        font-size: 60px;
        width: 867px;
    }

    .profile--paragraph {
        width: 715px;
        padding: 10px 20px;
        font-size: 18px;
    }

    .profile__buttons {
        display: flex;
        align-items: center;
        gap: 29px;
        padding-bottom: 40px;
    }

    .section--blueButton,
    .btn-mobile {
        padding: 10px 40px;
    }

    .btn-desktop {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

    .blueButton--download {
        gap: 4px;
    }


    /* second page  */
    .section-page {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex: 1;
        gap: 72px;
        margin-top: 81px;
        margin-bottom: 81px;
    }

    .section__secondTitle img {
        width: 48px;
    }

    .secondTitle--imgs2 img {
        width: 25px;
    }

    .section__leftSide {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding-left: 40px;
        gap: 20px;
        flex-basis: 60%;
        overflow-x: hidden;
    }

    .section__rightImg img {
        max-height: 738px;

    }

    .section--blueBtn {
        text-align: start;
    }

    .section--grayButton {
        position: static;
    }



    .section__toolsImgs {
        text-align: start;
    }

    .section__Description {
        font-size: 18px;
        /* width: 446px; */

    }


    /* third page  */
    .section--shadow {
        padding: 3px 11px;
    }

    /* fifth page  */
    .fifth-page {
        width: 100%;
    }

    .fifth-page__Section {
        width: 80%;
        margin: auto;
    }

    .fifth__gridTools {
        display: flex;
        flex-direction: row;
    }

    .fifthPage--title {
        font-size: 36px;
    }

    .fifth--hrMbl {
        display: none;
    }

    .fifth--hrGrid {
        display: none;

    }

    .fifth--hrdesktop {
        display: block;
    }

    .fifth--buttonappTool {
        background: var(--gray-one);
        color: black;
    }


    .footer__design {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .footer__leftSide h3 {
        font-size: 40px;
    }

    .footer__leftSide p {
        font-size: 18px;
        padding-bottom: 0px;
    }


}